#######开放模式############

###############
#    folder   #
###############
/BagBrother/
/BagSync/
/Bagnon/
/Bagnon_Config/
/Bagnon_GuildBank/
/Bagnon_VoidStorage/

/Blizzard_AchievementUI/
/Blizzard_ArchaeologyUI/
/Blizzard_ArenaUI/
/Blizzard_AuctionUI/
/Blizzard_AuthChallengeUI/
/Blizzard_BarbershopUI/
/Blizzard_BattlefieldMinimap/
/Blizzard_BindingUI/
/Blizzard_BlackMarketUI/
/Blizzard_CUFProfiles/
/Blizzard_Calendar/
/Blizzard_ChallengesUI/
/Blizzard_ClientSavedVariables/
/Blizzard_CombatLog/
/Blizzard_CombatText/
/Blizzard_CompactRaidFrames/
/Blizzard_DebugTools/
/Blizzard_EncounterJournal/
/Blizzard_GMChatUI/
/Blizzard_GMSurveyUI/
/Blizzard_GarrisonUI/
/Blizzard_GlyphUI/
/Blizzard_GuildBankUI/
/Blizzard_GuildControlUI/
/Blizzard_GuildUI/
/Blizzard_InspectUI/
/Blizzard_ItemAlterationUI/
/Blizzard_ItemSocketingUI/
/Blizzard_ItemUpgradeUI/
/Blizzard_LookingForGuildUI/
/Blizzard_MacroUI/
/Blizzard_MovePad/
/Blizzard_ObjectiveTracker/
/Blizzard_PVPUI/
/Blizzard_PetBattleUI/
/Blizzard_PetJournal/
/Blizzard_QuestChoice/
/Blizzard_RaidUI/
/Blizzard_StoreUI/
/Blizzard_TalentUI/
/Blizzard_TimeManager/
/Blizzard_TokenUI/
/Blizzard_TradeSkillUI/
/Blizzard_TrainerUI/
/Blizzard_Tutorial/
/Blizzard_VoidStorageUI/

/Broker_Garrison/

/DBM-BlackrockFoundry/
/DBM-Brawlers/
/DBM-Core/
/DBM-DMF/
/DBM-DefaultSkin/
/DBM-Draenor/
/DBM-GUI/
/DBM-Highmaul/
/DBM-Party-WoD/
/DBM-StatusBarTimers/
/DBM-VPYike/
/DBM-WorldEvents/

/GarrisonMissionManager/
/MasterPlan/
/GladiatorlosSA/

/TradeSkillMaster/
/TradeSkillMaster_Accounting/
/TradeSkillMaster_Additions/
/TradeSkillMaster_AuctionDB/
/TradeSkillMaster_Auctioning/
/TradeSkillMaster_Crafting/
/TradeSkillMaster_Destroying/
/TradeSkillMaster_ItemTracker/
/TradeSkillMaster_Mailing/
/TradeSkillMaster_Shopping/
/TradeSkillMaster_Warehousing/
/TradeSkillMaster_WoWuction/

/bosseskilled/
/Postal/
/sFishing/
/BossNotes/
/Ovale/
/Numeration/
/Pawn/
/ShestakUI_Filger/
/Recount/
/!QuestItemButtonFix/
/FriendsMenuXP/
###############
#  fixed file #
###############
/FreeUI/media/PFRondaSeven.ttf
/FreeUI/media/font.ttf

###############
#  temp file  #
###############


###############
#    script   #
###############

#########保守模式############
!/FreeUI/
!/FreeUI_Install/
!/FreeUI_Options/